body {
    background-image: url('../img/uvasfondo.avif') !important;
    background-repeat: repeat !important;
    background-size: 150px auto !important; /* Ajusta según sea necesario */
    background-position: top left !important;
  }