// _cards.scss

.card-container {
    display: grid;
    gap: 40px; // Espacio entre las cartas
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    .card {
        background: #bb8585;
        box-shadow: 0 0 10px;
        border-radius: 10px;
        overflow: hidden; // Para asegurar que las imágenes no se desborden

        .card-img-top {
            width: 100%;
            height: auto;
            aspect-ratio: 16/9;
            object-fit: cover;
            transition: transform 0.3s ease-in-out; // Transición para el hover
        }

        &:hover {
            transform: scale(1.05); // Agrandar la carta en hover
        }
    }

    // Estilos para responsive
    @media (max-width: 768px) {
        grid-template-columns: 1fr;

        .card {
            margin-bottom: 20px; // Espacio entre cartas en móvil
        }
    }
}
