.custom-card {
    max-width: 940px;
    margin-left: 20px; 
}

.cartabody1 {
    background-color: #555;
    box-shadow: #b4153d;
    border-radius: 10%;

    .carta-title {
        margin-top: 20px;
    }

    .carta-text1 {
        margin-top: 10px;
    }
}