.bodyprov{
    position: relative; 
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
    background-size: auto;
    background-position: center center;
    pointer-events: none; 
    background-repeat: repeat-x; 
    display: grid;
    min-height: 100%;
    grid-template-rows: auto 1fr auto;
    z-index: -1;
    padding-bottom: 100px;

}
.section {
    padding: 40px;
}
    .h2s {
      text-align: center;
      justify-items: center;
      text-decoration: underline;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      transition: color 0.3s ease, text-shadow 0.3s ease;
      background-color: rgba(189, 173, 141, 0.8); /* Beige transparente */
      padding: 40px;
      border-radius: 8px;
      margin: 20px auto; /* Centra horizontalmente */
      max-width: 80%; /* Limita el ancho máximo */
      color: #2b2323; /* Color de texto */
  
      &:hover {
        color: #7c2529; /* Color vino tinto */
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
      }
    }
  
