$color-bordeaux: #C8102E;
$color-black: #000000;

// Container for regions
.container-general {
    .region {
        background-color: rgba(255, 255, 255, 0.8); // White background with transparency
        box-shadow: rgba(135, 0, 0, 0.8) 0px 5px, rgba(135, 0, 0, 0.6) 0px 10px, rgba(135, 0, 0, 0.4) 0px 15px, rgba(135, 0, 0, 0.2) 0px 20px, rgba(135, 0, 0, 0.1) 0px 25px; // Bordeaux shadow
        border-radius: 8px; // Rounded corners for cards
        padding: 1rem;
        margin-bottom: 2rem;
        transition: all 0.3s ease; // Smooth transition for hover

        &:hover {
            box-shadow: rgba(135, 0, 0, 0.8) 0px 10px, rgba(135, 0, 0, 0.6) 0px 15px, rgba(135, 0, 0, 0.4) 0px 20px, rgba(135, 0, 0, 0.2) 0px 25px, rgba(135, 0, 0, 0.1) 0px 30px; // Hover shadow effect
            transform: scale(1.05); // Scale effect on hover
        }

        img {
            width: 100%; // Ensure full width images
            max-width: 500px; // Max width of image
            height: auto; // Maintain aspect ratio
            object-fit: cover; // Cover the area without distortion
            margin-bottom: 1rem; // Space below the image
        }
/* styles.css o el archivo CSS generado */

.h2ss {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    background: linear-gradient(135deg, #ff4c8b, #1e1e1e, #e6007e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    transition: all 0.4s ease-in-out;
    padding: 20px;
    margin: 30px 0;
    color: #6d28d9;
}

.h2ss:hover {
    background: linear-gradient(135deg, #ff4c8b, #2d2d2d, #e6007e);
    transform: scale(1.05);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}


        h3 {
            background: linear-gradient(to bottom, $color-bordeaux, $color-black);
            -webkit-text-fill-color: transparent;
            font-family: 'Your Elegant Font', sans-serif; // Replace with your elegant font
            font-size: 1.5rem; // Font size for <h3>
        }

        p {
            font-weight: bold; // Bold paragraphs
        }
    }
}

// Responsive Design
@media (max-width: 768px) {
    .container-general {
        .region {
            img {
                width: 100%; // Full width images for small screens
                max-width: none; // Remove max-width on small screens
            }
        }
    }
}
