/* Estilo para el título principal */
.h2s {
  text-align: center;
  text-decoration: underline;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.h2s:hover {
  color: #7c2529; /* Color vino tinto */
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}
// Estilo para las provincias
.container {
  margin-top: 20px;

  .row {
    display: flex;
    align-items: center;
    margin-bottom: 30px; // Espacio entre las secciones de provincias

    // Estilo para la línea decorativa entre secciones
    &.section-divider {
      width: 100%;
      height: 1px;
      background-color: #ccc;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px; // Espacio adicional debajo de la línea

      .dot {
        width: 10px;
        height: 10px;
        background-color: #ccc;
        border-radius: 50%;
        margin: 0 5px;
      }
    }

    // Estilo para las provincias alternando izquierda y derecha
    .col-md-6 {
      text-align: left;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; // Box shadow por defecto

      img {
        width: 100%; // Ajustar el tamaño de la imagen al contenedor
        height: auto;
        border-radius: 8px;
        display: block; // Asegurar que la imagen se muestre correctamente
      }
    }

    // Ajuste para cartas en posición par (derecha)
    &:nth-child(even) .col-md-6 {
      order: 2; // Cambia el orden de las columnas para ubicar la imagen a la derecha
    }

    // Ajuste para cartas en posición impar (izquierda)
    &:nth-child(odd) .col-md-6 {
      box-shadow: rgba(0, 0, 0, 0.15) -1.95px 1.95px 2.6px; // Box shadow inverso para izquierda
      order: 1; // Texto a la izquierda
    }
  }
}
