// main.scss

// Importes de archivos parciales
@import "partials/reset";
@import "partials/navbar";
@import "partials/section";
@import "partials/history";
@import "partials/cards";
@import "partials/prov";
@import "partials/footer";

// Variables Sass
$background-color: #f8f9fa;
$primary-color: #5e0909;
$card-hover-increment: 10px;

body {
    font-family: Arial, sans-serif;
    background-color: $background-color;
    color: #333;
}

.cepas {
    h3 {
        text-shadow: 0 0 10px black; // Sombra negra al texto
        padding: 40px;
        display: flex;
        text-align: center;
        justify-content: center;
    }
}
